<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main-ava.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query')
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>
<%block name="page_header">
    <%include file="../page_header.html" args="page_properties={
      'title': 'AudioVerse Advance Courses',
      'description': 'Offering the best in education to the world',
      'current_page': 'Courses'
    }" />
</%block>
    <section class="full-section latest-courses-section" style="margin-top: 0px;">
        <div class="section-content latest-courses-content courses" role="region" aria-label="${_('List of Courses')}">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                    <ul class="courses-listing">
                      %for course in courses:
                      <li class="courses-listing-item">
                        <%include file="../course-ava.html" args="course=course" />
                      </li>
                      %endfor
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Courses Section -->
