<%!
import json
from django.core.urlresolvers import reverse
from django.conf import settings
from django.utils.translation import ugettext as _
%>

<!--<%namespace name='static' file='/static_content.html'/>-->

<%inherit file="/main-ava.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">${_("Account Settings")}</%block>
<%block name="page_header">
    <%include file="../page_header.html" args="page_properties={
      'title': 'My Account Settings',
      'description': 'These settings include basic information about your account.',
      'current_page': ''
    }" />
</%block>

% if duplicate_provider:
    <section>
        <%include file='/dashboard/_dashboard_third_party_error.html' />
    </section>
% endif

<section class="full-section">
    <div class="container">
        <div class="wrapper-account-settings"></div>
    </div>
</section>

<%block name="headextra">
    <link rel="stylesheet" href="${static.url('css/account.css')}">
</%block>

<%block name="js_extra">
<%static:require_module module_name="js/student_account/views/account_settings_factory" class_name="AccountSettingsFactory">
    var fieldsData = ${ json.dumps(fields) };
    var authData = ${ json.dumps(auth) };
    var platformName = ${json.dumps(static.get_platform_name())};

    AccountSettingsFactory(
        fieldsData, authData, '${user_accounts_api_url}', '${user_preferences_api_url}', ${user.id}, platformName
    );
</%static:require_module>
</%block>
