<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main-ava.html" />

<%block name="pagetitle">${_("Blog")}</%block>
<%block name="page_header">
    <%include file="../page_header.html" args="page_properties={
      'title': 'Blog',
      'description': '',
      'current_page': ''
    }" />
</%block>
<section class="full-section">
    <div class="container">
        <h1>Donate</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus luctus mi eget condimentum. Etiam vestibulum lobortis dui, in congue diam. Donec nec varius ante. Proin laoreet lobortis laoreet. Maecenas aliquet justo risus, vel faucibus mi sagittis sed. Sed gravida tellus ut quam mattis rhoncus. Nulla consequat tortor ac nulla ullamcorper varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec metus id augue vulputate faucibus. Curabitur fermentum nulla id dolor suscipit aliquam. Integer et urna et ex pellentesque fermentum vitae ac urna. In ut leo nec erat ultrices sodales. Pellentesque porta finibus suscipit. Nam mattis tellus in diam congue, ac vehicula orci aliquet. Sed lobortis eros pulvinar purus fringilla, nec pretium nisi semper. In hac habitasse platea dictumst.
        </p>
        <p>
            Proin nec tortor ex. Nulla aliquam justo a lectus cursus, non sollicitudin diam aliquam. Donec in posuere justo. Etiam pretium finibus malesuada. Duis eu justo placerat, rhoncus leo non, condimentum felis. Duis suscipit, nisl consequat scelerisque rutrum, arcu elit scelerisque eros, non sagittis libero ipsum quis lorem. Donec porta accumsan nunc, id cursus ante condimentum consequat.
        </p>
        <p>
            Sed pulvinar tristique odio. Donec feugiat sapien in maximus fringilla. Aliquam malesuada mauris pretium maximus mollis. Cras sagittis dui id ultrices euismod. Duis quis posuere tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse venenatis at nulla et pretium. In quis consectetur justo, eu eleifend augue. Ut dictum dolor urna, ut scelerisque ex molestie eu. Cras eu iaculis mi, sed placerat nulla. Cras elementum enim mattis, aliquam diam at, semper nisi. Quisque id elementum nisi. Praesent dictum risus leo, id vestibulum sem ornare et.
        </p>
        <p>
            Fusce pretium libero ac dui volutpat hendrerit. Suspendisse ac ligula vitae nisi eleifend condimentum. Nulla consequat, massa at semper aliquam, mauris odio pharetra nisi, id condimentum velit mauris quis felis. Suspendisse dignissim in nisi sed blandit. In hac habitasse platea dictumst. Donec vulputate dapibus urna, sed finibus lectus sollicitudin eget. Mauris sit amet dui id sem feugiat viverra eu nec dolor. Ut accumsan dolor at justo euismod, nec ultrices eros vulputate. Praesent et bibendum libero, quis vehicula justo. Duis vitae augue at augue tincidunt luctus. Donec facilisis mauris et lacus egestas, nec volutpat orci pretium. Integer neque ex, facilisis vitae tellus vitae, placerat molestie ex. Duis vel vehicula ante.
        </p>
        <p>
            Nunc egestas arcu tincidunt neque facilisis, non fermentum nibh hendrerit. Integer tempor sagittis tincidunt. Fusce tempor sollicitudin leo ut auctor. Quisque ultricies ante quam, a lobortis neque vulputate vel. Donec accumsan aliquam bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vulputate lacus vel ex interdum malesuada.
        </p>

    </div>
</section>
