<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main-ava.html" />

<%block name="pagetitle">${_("Contact")}</%block>
<%block name="page_header">
    <%include file="../page_header.html" args="page_properties={
      'title': 'Contact Us',
      'description': '',
      'current_page': ''
    }" />
</%block>
<%block name="js_extra">
    <script src="${static.url('js/jquery.validate.min.js')}"></script>
    <script src="${static.url('js/ava_contact_form.js')}"></script>
</%block>
% if not post_complete:
    <section class="login-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="comment-form">
                    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
                        <input type="hidden" value="${ csrf_token }" name="csrfmiddlewaretoken">
                        <div class="col-md-12">
                        <div style="font: bolder 18px 'Lato', sans-serif; color: #383c4b;">
                            <span class="text">Need help or have feedback?</span>
                            <p>
                                Use the contact forms below for inquiries related to press, partnerships, security, and other specific topics.
                            </p>
                        </div>
                        </div>
                        <!-- Text input-->
                        <div class="col-md-12 input">
                            <label>Full Name</label>
                            <div class="inputGroupContainer">
                              <div class="input-group">
                                  <input name="full_name" placeholder="example: Jane Doe" class="form-control"  type="text">
                              </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="col-md-12 input">
                          <label>E-Mail</label>
                            <div class="inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <input name="email" placeholder="example: username@domain.com" class="form-control"  type="text">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                            <div class="field optional select">
                                <label for="contact-group">Where should we send the message?</label><br />
                                <select name="contact-group" style="margin-top: 20px;">
                                  <option value="general">General Inquiry</option>
                                  <option value="billing">Billing</option>
                                  <option value="technical">Technical Support</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 input">
                          <label>Your message</label>
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                	<textarea class="form-control" name="comment" placeholder="Write your message/comments here..."></textarea>
                                </div>
                          </div>
                        </div>
                        <p>
                        <div class="col-md-12 input">
                            <input id="submit" type="submit" class="submit-input grad-btn ln-tr" value="Send Message" style="position:relative; right:0px; bottom: 0px; margin-top: 25px; float: right;">
                        </div>
                        <p>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
% else:
    <section class="full-section">
        <div class="container center">
            <h2>${_("Thank You")}</h2>
            <p>
            ${_("Your message was sent successfully. We will respond to your message as needed.")}
            </p>
        </div>
    </section>
% endif
