<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main-ava.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>
<%block name="page_header">
    <%include file="../page_header.html" args="page_properties={
      'title': 'Honor Code',
      'description': '',
      'current_page': ''
    }" />
</%block>
<section class="full-section">
    <div class="container">
        <h1>COLLABORATION POLICY</h1>
        <p>By enrolling in a course via AudioVerse Advance, you are joining a special worldwide community of learners. The aspiration of AudioVerse Advance is to provide anyone with an internet connection access to courses from the best Seventh-day Adventist training in the world and to provide our learners the best educational experience internet technology enables. You are a part of the community that will help AudioVerse Advance achieve this goal. AudioVerse Advance depends upon your motivation to learn the material and to do so with honesty, integrity, and in good faith. In order to participate in AudioVerse Advance, you must agree to the Honor Code below and any additional terms specific to a class. This Honor Code, and any additional terms, will be posted on each class website.</p>
        <h2>AUDIOVERSE ADVANCE HONOR CODE PLEDGE</h2>
        <p>By enrolling in an AudioVerse Advance course, I agree that I will:</p>
        <div class="list ul-list">
            <ul>
                <li>Complete all tests and assignments on my own, unless collaboration on an assignment is explicitly permitted.</li>
            	<li>Maintain only one user account and not let anyone else use my username and/or password.</li>
            	<li>Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.</li>
            	<li>Not post answers to problems that are being used to assess student performance.</li>
            	<li>Otherwise engage in behavior and activities that constitute cheating.</li>
            </ul>
        </div>
        <h2>VIOLATIONS</h2>
        <p>If you are found in violation of the Terms of Service or Honor Code, you may be subject to one or more of the following actions:</p>
        <div class="list ul-list">
            <ul>
                <li>Receiving a zero or no credit for an assignment;</li>
            	<li>Having any certificate earned in the course withheld or revoked;</li>
            	<li>Being unenrolled from a course; or</li>
            	<li>Termination of your use of the Site.</li>
            	<li>Additional actions may be taken at the sole discretion of AudioVerse Advance and AudioVerse Advance Member course providers.</li>
            </ul>
        </div>
        <br />
        <p>
        No refunds will be issued in the case of any corrective action for such violations.
        Honor Code violations will be determined at the sole discretion of AudioVerse Advance Members. You will be notified if a determination has been made that you have violated this honor code and you will be informed of the corresponding action to be taken as a result of the violation.
        <p>
        <h2>CHANGING THE HONOR CODE</h2>
        <p>
        Please note that we review and may make changes to this Honor Code from time to time. Any changes to this Honor Code will be effective immediately upon posting on this page, with an updated effective date. By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Honor Code and any changes contained therein. Be sure to return to this page periodically to ensure familiarity with the most current version of this Honor Code.
        </p>
        Effective Date: June 1, 2016
    </div>
</section>
