<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget about-widget">
                    <h6 class="widget-title">AudioVerse Advance</h6>
                    <p class="about-text">
                        AudioVerse Advance provides universal access to the
                        world’s best education. We partner with top ministires
                        to offer courses that will INSPIRE you as you are
                        INSTRUCTED in the Truth to confidently share your faith
                        as you INTERACT with your friends.
                    </p>
                </div><!-- End About Widget -->
            </div><!-- End col-md3 -->
            <div class="col-md-3">
                <div class="widget links-widget">
                    <h6 class="widget-title">Quick Links</h6>
                    <div class="footer-links">
                        <ul>
                            <li><a href="/courses" class="ln-tr">Courses</a></li>
                            <li><a href="/discounts" class="ln-tr">Group Discounts</a></li>
                            <li><a href="/faq" class="ln-tr">FAQ</a></li>
                            <li><a href="/contact" class="ln-tr">Contact Us</a></li>
                        </ul>
                    </div><!-- End Footer Links -->
                </div><!-- End Links Widget -->
            </div><!-- End col-md2 -->
            <div class="col-md-3">
                <div class="widget links-widget">
                    <h6 class="widget-title">More</h6>
                    <div class="footer-links">
                        <ul>
                            <li><a href="/honor" class="ln-tr">Honor Code</a></li>
                            <li><a href="/tos" class="ln-tr">Terms of Service</a></li>
                            <li><a href="/privacy" class="ln-tr">Privacy Policy</a></li>
                            <li><a href="https://www.audioverse.org" target="_blank" class="ln-tr">AudioVerse.org</a></li>
                        </ul>
                    </div><!-- End Footer Links -->
                </div><!-- End Links Widget -->
            </div><!-- End col-md2 -->
        </div>
    </div>
    <div id="bottom">
        <div class="container">
            <div class="fl copyright">
                <p>&copy; {% now "Y" %}  AudioVerse Advance. All rights reserved except where noted.</p>
            </div><!-- End Copyright -->
        </div><!-- End container -->
    </div><!-- End Bottom Footer -->
</footer><!-- End Footer -->
