<%!
from datetime import date
%>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget about-widget">
                    <h6 class="widget-title">AudioVerse Advance</h6>
                    <p class="about-text">
                        AudioVerse Advance seeks to provide easy access to practical online Bible training to equip disciples of Jesus for the hastening of His soon return. We partner with trusted Seventh-day Adventist organizations to offer inspiring courses that instruct students in how to confidently share their faith as they interact with a world in need.
                    </p>
                </div><!-- End About Widget -->
            </div><!-- End col-md3 -->
            <div class="col-md-3">
                <div class="widget links-widget">
                    <h6 class="widget-title">Quick Links</h6>
                    <div class="footer-links">
                        <ul>
                            <li><a href="/courses" class="ln-tr">Courses</a></li>
                            <li><a href="/discounts" class="ln-tr">Group Discounts</a></li>
                            <li><a href="/faq" class="ln-tr">FAQ</a></li>
                            <li><a href="/contact" class="ln-tr">Contact Us</a></li>
                            <li><a href="https://www.audioverse.org/avagive" class="ln-tr">Donate Now</a></li>
                        </ul>
                    </div><!-- End Footer Links -->
                </div><!-- End Links Widget -->
            </div><!-- End col-md2 -->
            <div class="col-md-3">
                <div class="widget links-widget">
                    <h6 class="widget-title">More</h6>
                    <div class="footer-links">
                        <ul>
                            <li><a href="/honor" class="ln-tr">Honor Code</a></li>
                            <li><a href="/tos" class="ln-tr">Terms of Service</a></li>
                            <li><a href="/privacy" class="ln-tr">Privacy Policy</a></li>
                            <li><a href="https://www.audioverse.org" target="_blank" class="ln-tr">AudioVerse.org</a></li>
                        </ul>
                    </div><!-- End Footer Links -->
                </div><!-- End Links Widget -->
            </div><!-- End col-md2 -->
        </div>
    </div>
    <div id="bottom">
        <div class="container">
            <div class="fl copyright">
                <p>&copy; ${ date.today().year } AudioVerse Advance. All rights reserved except where noted.</p>
            </div><!-- End Copyright -->
            <div class="fr footer-social-icons">
                <ul class="clearfix">
                    <li><a href="https://www.facebook.com/AudioVerse" target="_blank" class="fb-icon ln-tr"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="https://twitter.com/audioverse" target="_blank" class="tw-icon ln-tr"><span class="fa fa-twitter"></span></a></li>
                </ul>
            </div><!-- End Social Media Icons -->
        </div><!-- End container -->
    </div><!-- End Bottom Footer -->
</footer><!-- End Footer -->
