<%namespace name='static' file='static_content.html'/>

<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<div class="remodal" data-remodal-id="forgot-password-modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" style="max-width: 500px;text-align: left">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <span class="text">${_("Password Reset")}</span>
  <div id="password-reset">
      <p>${_("Please enter your e-mail address below, and we will e-mail instructions for setting a new password.")}</p>
      <form id="pwd_reset_form" action="${reverse('password_reset')}" method="post" data-remote="true">
          <p><input class="" id="pwd_reset_email" type="email" name="email" value="" placeholder="example: username@domain.com" aria-describedby="pwd_reset_email-tip" aria-required="true" /></p>
          <span class="tip tip-input" id="pwd_reset_email-tip">${_("This is the e-mail address you used to register with us")}</span>
          <div class="form-actions">
              <p><button name="submit" type="submit" id="pwd_reset_button" class="submit-input action action-primary action-update">${_("Reset My Password")}</button></p>
          </div>
      </form>
  </div>
</div>
<script type="text/javascript">
  (function() {
    $(document).delegate('#pwd_reset_form', 'ajax:success', function(data, json, xhr) {
        console.log(json.value);
      if(json.success) {
        $("#password-reset").html(json.value);
      } else {
        if($('#pwd_error').length == 0) {
          $('#pwd_reset_form').prepend('<div id="pwd_error" class="modal-form-error">${_("Email is incorrect.")}</div>');
        }
        $('#pwd_error').stop().css("display", "block");
      }
    });

    // removing close link's default behavior
    $('#login-modal .close-modal').click(function(e) {
        e.preventDefault();
    });

    var onModalClose = function() {
      $("#forgot-password-modal").attr("aria-hidden", "true");
      $("#forgot-password-link").focus();
    };

    var cycle_modal_tab = function(from_element_name, to_element_name) {
      $(from_element_name).on('keydown', function(e) {
          var keyCode = e.keyCode || e.which;
          var TAB_KEY = 9;  // 9 corresponds to the tab key
          if (keyCode === TAB_KEY) {
              e.preventDefault();
              $(to_element_name).focus();
          }
      });
    };
    $("#forgot-password-modal .close-modal").click(onModalClose);
    cycle_modal_tab("#forgot-password-modal .close-modal", "#pwd_reset_email");
    cycle_modal_tab("#pwd_reset_email", "#pwd_reset_button");
    cycle_modal_tab("#pwd_reset_button", "#forgot-password-modal .close-modal");

    // Hitting the ESC key will exit the modal
    $("#forgot-password-modal").on("keydown", function(e) {
        var keyCode = e.keyCode || e.which;
        // 27 is the ESC key
        if (keyCode === 27) {
            e.preventDefault();
            $("#forgot-password-modal .close-modal").click();
        }
    });

  })(this)
</script>
