<%inherit file="main-ava.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%block name="title">${_('AudioVerse Advance')}</%block>
<%block name="slideshow">
    <%include file="slideshow.html" />
</%block>
<section class="full-section latest-courses-section" style="margin-top: 0px">
  <div class="section-content latest-courses-content">
      <div class="container center">
          <h2>Latest Courses</h2>
            <ul class="courses-listing">
            %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
                <li class="courses-listing-item">
                    <%include file="course-ava.html" args="course=course" />
                </li>
            %endfor
            </ul>
      </div><!-- End Container -->
  </div><!-- End Latest-Courses Section Content -->
</section><!-- End Courses Section -->
