<!DOCTYPE html>
{% load sekizai_tags i18n microsite pipeline optional_include %}
{% load url from future %}
<html lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="AudioVerse Advance">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
    <!-- Responsiveness -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/responsive.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/remodal.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/remodal-ava-theme.css">
    <!-- FAV & Touch Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}images/fav/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}images/fav/apple-touch-icon-60x60.pnn">
    <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}images/fav/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}images/fav/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}images/fav/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}images/fav/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}images/fav/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}images/fav/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{STATIC_URL}}images/fav/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}images/fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}images/fav/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}images/fav/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}images/fav/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{STATIC_URL}}images/fav/manifest.json">
    <link rel="mask-icon" href="{{STATIC_URL}}images/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{STATIC_URL}}images/fav/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="{{STATIC_URL}}js/html5shiv.js"><\/script>')</script>
    <![endif]-->
    <link class="skin_link" rel="stylesheet" href="{{STATIC_URL}}css/skin/ava.css">
    {% block title %}<title>{% platform_name %}</title>{% endblock %}
    <meta name="path_prefix" content="{{EDX_ROOT_URL}}">
</head>

<body id="home">
    <div id="entire">
    {% include "navigation-ava_django.html" %}
    {% block body %}{% endblock %}
    {% block bodyextra %}{% endblock %}
    {% include "footer-ava_django.html" %}
    </div>
    <script src="{{STATIC_URL}}js/jquery-1.11.2.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.countdown.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.easydropdown.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.flexslider-min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.isotope.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.themepunch.tools.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.themepunch.revolution.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.viewportchecker.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.waypoints.min.js"></script>
    <script src="{{STATIC_URL}}js/scripts.js"></script>
    <script src="{{STATIC_URL}}js/remodal.min.js"></script>
    <!-- native scripts -->
    <script type="text/javascript" src="{{STATIC_URL}}js/vendor/noreferrer.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/utils/navigation.js" charset="utf-8"></script>
</body>
</html>
{% comment %}
  This is a django template version of our main page from which all
  other pages inherit. This file should be rewritten to reflect any
  changes in main.html! Files used by {% include %} can be written
  as mako templates.

  Inheriting from this file allows us to include apps that use the
  django templating system without rewriting all of their views in
  mako.
{% endcomment %}
