## coding=utf-8

## This is the main Mako template that all page templates should include.
## Note: there are a handful of pages that use Django Templates and which
## instead include main_django.html. It is important that these two files
## remain in sync, so changes made in one should be applied to the other.


<%namespace name='static' file='static_content.html'/>
<%!
from django.core.urlresolvers import reverse
from django.utils.http import urlquote_plus
from django.utils.translation import ugettext as _
from django.utils.translation import get_language_bidi
from branding import api as branding_api
from pipeline_mako import render_require_js_path_overrides
%>
<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if !IE]><!--><html lang="${LANGUAGE_CODE}"><!--<![endif]-->
<head dir="${static.dir_rtl()}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

## Define a couple of helper functions to make life easier when
## embedding theme conditionals into templates. All inheriting
## templates have access to these functions, and we can import these
## into non-inheriting templates via the %namespace tag.

## this needs to be here to prevent the title from mysteriously appearing in the body, in one case
<%def name="pagetitle()" />
  <title>
      <%block name="title">
        ${static.get_page_title_breadcrumbs(self.pagetitle())}
      </%block>
  </title>

  % if not allow_iframing:
      <script type="text/javascript">
        /* immediately break out of an iframe if coming from the marketing website */
        (function(window) {
          if (window.location !== window.top.location) {
            window.top.location = window.location;
          }
        })(this);
      </script>
  % endif

  <%
    jsi18n_path = "js/i18n/{language}/djangojs.js".format(language=LANGUAGE_CODE)
  %>
    <script type="text/javascript" src="${static.url(jsi18n_path)}"></script>
    <meta name="author" content="AudioVerse Advance">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="${static.url('css/style.css')}">
    <!-- Responsiveness -->
    <link rel="stylesheet" href="${static.url('css/responsive.css')}">
    <link rel="stylesheet" href="${static.url('css/remodal.css')}">
    <link rel="stylesheet" href="${static.url('css/remodal-ava-theme.css')}">
    <!-- FAV & Touch Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="${static.url('images/fav/apple-touch-icon-57x57.png')}">
    <link rel="apple-touch-icon" sizes="60x60" href="${static.url('images/fav/apple-touch-icon-60x60.png')}">
    <link rel="apple-touch-icon" sizes="72x72" href="${static.url('images/fav/apple-touch-icon-72x72.png')}">
    <link rel="apple-touch-icon" sizes="76x76" href="${static.url('images/fav/apple-touch-icon-76x76.png')}">
    <link rel="apple-touch-icon" sizes="114x114" href="${static.url('images/fav/apple-touch-icon-114x114.png')}">
    <link rel="apple-touch-icon" sizes="120x120" href="${static.url('images/fav/apple-touch-icon-120x120.png')}">
    <link rel="apple-touch-icon" sizes="144x144" href="${static.url('images/fav/apple-touch-icon-144x144.png')}">
    <link rel="apple-touch-icon" sizes="152x152" href="${static.url('images/fav/apple-touch-icon-152x152.png')}">
    <link rel="apple-touch-icon" sizes="180x180" href="${static.url('images/fav/apple-touch-icon-180x180.png')}">
    <link rel="icon" type="image/png" href="${static.url('images/fav/favicon-32x32.png')}" sizes="32x32">
    <link rel="icon" type="image/png" href="${static.url('images/fav/android-chrome-192x192.png')}" sizes="192x192">
    <link rel="icon" type="image/png" href="${static.url('images/fav/favicon-96x96.png')}" sizes="96x96">
    <link rel="icon" type="image/png" href="${static.url('images/fav/favicon-16x16.png')}" sizes="16x16">
    <link rel="manifest" href="${static.url('images/fav/manifest.json')}">
    <link rel="mask-icon" href="${static.url('images/fav/safari-pinned-tab.svg')}" color="#5bbad5">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="${static.url('images/fav/mstile-144x144.png')}">
    <meta name="theme-color" content="#ffffff">
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="${static.url('js/html5shiv.js')}"><\/script>')</script>
    <![endif]-->
    <link class="skin_link" rel="stylesheet" href="${static.url('css/skin/ava.css')}">
    % if disable_courseware_js:
      <%static:js group='base_vendor'/>
      <%static:js group='base_application'/>
    % else:
      <%static:js group='main_vendor'/>
      <%static:js group='application'/>
    % endif
    <script>
      window.baseUrl = "${settings.STATIC_URL}";
      (function (require) {
        require.config({
            baseUrl: window.baseUrl
        });
      }).call(this, require || RequireJS.require);
    </script>
    <script type="text/javascript" src="${static.url("lms/js/require-config.js")}"></script>

    % if not disable_courseware_js:
      <%static:js group='module-js'/>
    % endif

    <%block name="headextra"/>

    <meta name="path_prefix" content="${EDX_ROOT_URL}">
    <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY" />

    <% ga_acct = static.get_value("GOOGLE_ANALYTICS_ACCOUNT", settings.GOOGLE_ANALYTICS_ACCOUNT) %>
    % if ga_acct:
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '${ga_acct}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    % endif
</head>
<body id="home">
    <div id="entire">
        <%include file="navigation-ava.html" />
        <%block name="slideshow" />
        <%block name="page_header" />
        ${self.body()}
        <%include file="footer-ava.html" />
    </div><!-- End Entire Wrap -->
    <!-- jQuery -->
    <!-- <script src="${static.url('js/jquery-1.11.2.min.js')}"></script> -->
    <!-- Plugins -->
    <script src="${static.url('js/jquery.countdown.min.js')}"></script>
    <script src="${static.url('js/jquery.easydropdown.min.js')}"></script>
    <script src="${static.url('js/jquery.flexslider-min.js')}"></script>
    <script src="${static.url('js/jquery.isotope.min.js')}"></script>
    <script src="${static.url('js/jquery.themepunch.tools.min.js')}"></script>
    <script src="${static.url('js/jquery.themepunch.revolution.min.js')}"></script>
    <script src="${static.url('js/jquery.viewportchecker.min.js')}"></script>
    <script src="${static.url('js/jquery.waypoints.min.js')}"></script>
    <script src="${static.url('js/scripts.js')}"></script>
    <script src="${static.url('js/remodal.min.js')}"></script>
    <%block name="js_extra"/>
    <!-- native scripts -->
    <script type="text/javascript" src="${static.url('js/vendor/noreferrer.js')}" charset="utf-8"></script>
    <script type="text/javascript" src="${static.url('js/utils/navigation.js')}" charset="utf-8"></script>
</body>
</html>
<%def name="login_query()">${
  u"?next={0}".format(urlquote_plus(login_redirect_url)) if login_redirect_url else ""
}</%def>
