<header id="header" class="alt static-header">
    <div class="container">
        <div class="logo-container fl clearfix">
            <a href="/" class="ib">
                <img src="/static/images/logo-main.png" class="fl" alt="Logo">
                <span class="site-name"><img src="/static/images/logo-main-grey-text.png"></span>
            </a>
        </div><!-- End Logo Container -->
        <!-- ${request.path} -->
        <nav class="main-navigation fr">
            <ul class="clearfix">
                <li class="parent-item">
                    <a href="/" class="ln-tr">Home</a>
                </li>
                <li class="parent-item">
                    <a href="/about" class="ln-tr">About</a>
                </li>
                <li class="parent-item">
                    <a href="/courses" class="ln-tr ">Browse Courses</a>
                </li>
                <li class="parent-item">
                    <a href="/contact" class="ln-tr ">Contact</a>
                </li>
            </ul>
        </nav><!-- End NAV Container -->
        <div class="mobile-navigation fr">
            <a href="#" class="mobile-btn"><span></span></a>
            <div class="mobile-container"></div>
        </div><!-- end mobile navigation -->
    </div>
</header><!-- End Main Header Container -->
