<header id="header" class="alt static-header">
    <div class="container">
        <div class="logo-container fl clearfix">
            <a href="https://courses.avadvance.org" class="ib">
                <img src="{{STATIC_URL}}themes/ava-theme-lms/images/logo-main.png" class="fl" alt="Logo">
                <span class="site-name"><img src="{{STATIC_URL}}themes/ava-theme-lms/images/logo-main-grey-text.png"></span>
            </a>
        </div><!-- End Logo Container -->
        <!-- ${request.path} -->
        <nav class="main-navigation fr">
            <ul class="clearfix">
                <li class="parent-item">
                    <a href="https://courses.avadvance.org" class="ln-tr">Home</a>
                </li>
                <li class="parent-item">
                    <a href="https://www.avadvance.org/about" class="ln-tr">About</a>
                </li>
                <li class="parent-item">
                    <a href="https://courses.avadvance.org/courses" class="ln-tr ">Browse Courses</a>
                </li>
                <li class="parent-item">
                    <a href="https://www.avadvance.org/contact-us" class="ln-tr ">Contact</a>
                </li>
            </ul>
        </nav><!-- End NAV Container -->
        <div class="mobile-navigation fr">
            <a href="#" class="mobile-btn"><span></span></a>
            <div class="mobile-container"></div>
        </div><!-- end mobile navigation -->
    </div>
</header><!-- End Main Header Container -->
