<%namespace name='static' file='static_content.html'/>
<div class="tp-banner-container" >
    <div class="tp-banner">
        <ul>
            <li data-transition="random" data-slotamount="7" data-masterspeed="1500">
                <img src="${static.url('images/content/slide-default-1.jpg')}" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="tp-caption sft skewtoleft tp-resizeme start white"
                    data-y="245"
                    data-x="center"
                    data-hoffset="0"
                    data-start="300"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-easing="Power3.easeInOut"
                    data-endspeed="300"
                    style="z-index: 2">
                    <div class="vertical-middle" style="position: relative; top: -20px;">
    					<div class="col-sm-4">
    						<img class="slogan_img" src="${static.url('images/inspire-tp.png')}">
    						<h1 class="t300 ls1 slogan_text">Inspire.</h1>
    					</div>
    					<div class="col-sm-4">
    						<img class="slogan_img_instruct" src="${static.url('images/instruct-tp.png')}">
    						<h1 class="t300 ls1 slogan_text">Instruct.</h1>
    					</div>
    					<div class="col-sm-4">
    						<img class="slogan_img" src="${static.url('images/interact-tp.png')}">
    						<h1 class="t300 ls1 slogan_text">Interact.</h1>
    					</div>
				    </div>
                </div>
                <div class="tp-caption black randomrotate skewtoleft tp-resizeme start"
                    data-x="center"
                    data-hoffset="0"
                    data-y="270"
                    data-speed="500"
                    data-start="1300"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500" style="z-index: 99; white-space: pre-line;">
                    <p class="slide-description">Be inspired by the Truth.  Be instructed in the Truth.  Interact to share the Truth.
                        <a href="${static.url('/about')}"><button class="slide-more">Learn More</button></a>
                    </p>
                </div>
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                <img src="${static.url('images/content/slide-default-0.jpg')}" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="tp-caption sft skewtoleft tp-resizeme start white"
                    data-y="245"
                    data-x="center"
                    data-hoffset="0"
                    data-start="300"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-easing="Power3.easeInOut"
                    data-endspeed="300"
                    style="z-index: 2">
                    <h2 class="slide-title">Register now. sign up for FREE course!</h2>
                </div>
                <div class="tp-caption black randomrotate skewtoleft tp-resizeme start"
                    data-x="center"
                    data-hoffset="0"
                    data-y="270"
                    data-speed="500"
                    data-start="1300"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500" style="z-index: 99; white-space: pre-line;">
                    <p class="slide-description">Give AudioVerse Advance a try with the Evangelism 101 course by Emmanuel Institute
                        <a href="${static.url('/courses/course-v1:EmmanuelInstitute+EM.EV101+2016-T1/about')}"><button class="slide-more">View Course</button></a>
                    </p>
                </div>
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                <img src="${static.url('images/content/slide-default-2.jpg')}" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="tp-caption sft skewtoleft tp-resizeme start white"
                    data-y="245"
                    data-x="center"
                    data-hoffset="0"
                    data-start="300"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-easing="Power3.easeInOut"
                    data-endspeed="300"
                    style="z-index: 2">
                    <h2 class="slide-title">Learn to Be a Fisher of Men</h2>
                </div>
                <div class="tp-caption black randomrotate skewtoleft tp-resizeme start"
                    data-x="center"
                    data-hoffset="0"
                    data-y="270"
                    data-speed="500"
                    data-start="1300"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500" style="z-index: 99; white-space: pre-line;">
                    <p class="slide-description">The Personal Evangelism course by Emmanuel Institute will give you the tools you need to win souls for Jesus.
                        <a href="${static.url('/courses/course-v1:EmmanuelInstitute+EM.Ev102+2016_T1/about')}"><button class="slide-more">View Course</button></a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div><!-- End Home Slider Container -->
