## mako

<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%inherit file="../main-ava.html"/>

<%block name="title">
    ${_("Your Password Reset is Complete")}
</%block>

<%block name="bodyextra">
    <script type="text/javascript">
        $(function() {
            'use strict';
            // adding js class for styling with accessibility in mind
            $('body').addClass('js');
        });
    </script>
</%block>

<%block name="bodyclass">view-passwordreset</%block>

<%block name="body">
<section class="full-section">
    <div class="container clear-bottommargin clearfix">
        <div class="col-md-12">
            <div class="activation-message valid top-margin">
                ${_("Password Reset Complete")}
            </div>
        </div>
        <p class="activation-p">
          ${Text(_("Your password has been reset. {start_link}Sign-in to your account.{end_link}")).format(
              start_link=HTML('<a href="/login">'),
              end_link=HTML('</a>')
          )}
        </p>
    </div>
</section>
</%block>
