{% extends "main_django_ava.html" %}
{% load i18n %}

{% block title %}
<title>{% trans "Your Password Reset is Complete" %}</title>
{% endblock %}

{% block bodyextra %}
    <script type="text/javascript">
        $(function() {
            'use strict';
            // adding js class for styling with accessibility in mind
            $('body').addClass('js');
        });
    </script>
{% endblock %}

{% block bodyclass %}view-passwordreset{% endblock %}

{% block body %}
<section class="full-section">
    <div class="container clear-bottommargin clearfix">
        <div class="col-md-12">
            <div class="activation-message valid top-margin">
                {% trans "Password Reset Complete" %}
            </div>
        </div>
        <p class="activation-p">
            {% blocktrans with link_start='<a href="/login">' link_end='</a>' %}
                Your password has been reset. {{ link_start }}Sign in to your account.{{ link_end }}
            {% endblocktrans %}
        </p>
    </div>
</section>
{% endblock %}
